body{
    background:rgb(201, 201, 201);
}

/* HEADER */  
.cabezera{
    background-image: url(../img/fondo-header.jpg);
    width:100%;
    height:400px;
    background-repeat: no-repeat;
}

.cabezera__row{
    left:25%;
    top:11%;
    position: absolute;
}

.cabezera__titulo{
    color:rgb(252, 252, 252);
    font-size:3em;
    -webkit-text-stroke: 3px black;
    -moz-text-stroke: 3px black;
}
/* HEADER - FIN */

/* MAIN */ 
.main__row{
    margin:40px 0;
    font-size:1.3em;
}

.main__article-titulo2,
.main__article-titulo3,
.main__article-titulo4,
.main__article-titulo5{
    margin-top:18px;
}
/* MAIN - FIN */ 

/* IMAGENES */
.imagenes-dj {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 2em;
    margin: 1em 0;
}

.img-dj {
    width: 100%;
    height: 220px;
}

@media (min-width: 280px) and (max-width: 768px){
    .imagenes-dj {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
/* IMAGENES - FIN */